:root {
  --main-font: "Lexend", sans-serif;
}

body {
  font-family: var(--main-font);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s step-end infinite;
}
